@import 'styles/common';

.page {
  background: $brand-primary;
  color: white;
  font-family: $heading-family;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  font-family: $heading-family;
  font-weight: 900;
  letter-spacing: .08em;
  padding-top: 1rem;
  font-size: 34px;
}

.text {
  margin: 0;
  line-height: 1;
  letter-spacing: .025em;
}