@import 'styles/common';

.home {
  background: $brand-primary;
  color: white;
  font-family: $heading-family;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.img {
  width: 100%;
}

.title {
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 34px;
  letter-spacing: .025em;
  line-height: 1;
}

.line {
  position: relative;
  width: fit-content;
  margin: auto;
}

.line::after {
  position: absolute;
  width: 125px;
  height: 7px;
  background: white;
  content: '';
  top: 40%;
  left: -140px;
  border-radius: 50px;
}

.line::before {
  position: absolute;
  width: 125px;
  height: 7px;
  background: white;
  content: '';
  top: 40%;
  right: -140px;
  border-radius: 50px;
}

.diff {
  font-family: $heading-family;
  font-weight: 900;
  letter-spacing: .08em;
  font-size: 50px;
  line-height: 1;
}

.text {
  letter-spacing: .025em;
  font-size: 18px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightImg {
  transform: scale(-1);
}

.button {
  padding: 0.5rem 2rem;
}

.footer {
  width: 100%;
}