* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size:62.5%;
  @include font-att-aleck-slab-medium;
  line-height: 1.2;
  text-align: center;
  touch-action: pan-x pan-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-att-aleck-slab-black-italic;
  line-height: 1.1;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}

p, a {
  font-size: 1.6rem;
}