.button {
  background: white;
  color: $brand-secondary;
  border: none;
  text-transform: uppercase;
  font-family: '14Four';
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .08em;
  border-radius: 50px;
  letter-spacing: .08em;
  text-decoration: none;
}