// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1300px;

// Colors
$color-white: #fff;
$color-black: #000;
$color-blue: #009FDB;
$color-blue-light: #7DEADC;
$color-blue-dark: #002CC3;
$font-family: '14FourBook';
$heading-family: '14Four';
$brand-primary: #CB213D;
$brand-secondary: #23957C;