@import 'styles/common';



.pickSong {
  background: $brand-primary;
  color: white;
  font-family: $heading-family;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.image {
  width: 100%;
  padding: 2rem 0;
}

.title {
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  font-family: $heading-family;
  font-size: 34px;
  letter-spacing: .08em;
  font-weight: 900;
}

.secondLine {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.text {
  margin: 0;
  line-height: 1;
  padding-right: .25rem;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: .025em;
}

.wink {
  padding-left: .25rem;
}

.buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  width: 300px;
}

.footer {
  width: 100%;
}