@import 'styles/common';

.loading {
  background: $brand-primary;
  color: white;
  font-family: $font-family;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-size: 21px;
}

.divider {
  width: 130px;
  margin: 1.5rem auto;
  height: 7px;
  background: white;
  border-radius: 50px;
  border: none;
}

.singers {
  width: fit-content;
  margin: auto;
  height: 220px;
}

.line {
  display: flex;
}

.musicNote {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.singer {
  font-weight: 900;
  letter-spacing: .08em;
}

.dots {
  display: flex;
  align-items: center;
}

.dots div {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: white;
  margin: 0 3px;
}

.dot1 {
  animation: bounce 2s infinite ease-in-out;
}

.dot2 {
  animation: bounce 2s infinite .75s ease-in-out;
}

.dot3 {
  animation: bounce 2s infinite 1.5s ease-in-out;
}

@keyframes bounce {
  0%,15% {transform: translate(0,0);}
  50% {transform: translate(0,-5px);}
  85%, 100% {transform: translate(0,0);};
}

.padding {
  height: 75px;
}

.subText {
  text-transform: uppercase;
  font-size: 20px;
  margin: 1rem auto;
}