@import 'styles/common';

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: url(../../assets/images/frosty.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rightImg {
  transform: scale(-1);
}

.button {
  padding: 0.5rem 2rem;
}

.close {
  position: absolute;
  right: 0;
  pointer-events: auto;
}

.TapToStart {
  text-transform: uppercase;
  font-family: $heading-family;
  font-weight: 900;
  letter-spacing: .08em;
  color: white;
  // text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0 .5rem;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  filter: drop-shadow( 2px 2px 10px rgba(0, 0, 0, .3));
}