@import 'styles/common';

.desktop {
  background: $brand-primary;
  color: white;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.topper {
  width: 100%;
}

.bigText {
  font-family: $heading-family;
  font-weight: 900;
  letter-spacing: .08em;
  font-size: 50px;
}

.littleText {
  font-family: $font-family;
  letter-spacing: .025em;
  font-size: 30px;
  width: 550px;
  margin: 0 auto;
}

.rowOfImages {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.qrCode {
  width: 200px;
}

.rightImg {
  transform: scale(-1);
}

.footer {
  width: 100%;
}